@charset "UTF-8";
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('../resources/images/index.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

h1, h2 {
    text-align: center;
    color: #333;
}

a {
    text-decoration: none;
    color: #007bff;
    font-size: 20px;
    font-weight: bold;
}

a:hover {
    color: #0056b3;
}